* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}
:root {
  --background1: #111;
  --background2: #333;
  --background-game: #000;
  --text: #ccc;
  --modal-color: #0e0e0e;
  --button-color: #2a2a2a;
  --button-highlight: #3a3a3a;
  --tooltip-color: #080808;
  --dialog-bubble-height: 16rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-bg: 2rem;
  --spacing-xb: 4rem;
  --font-size-sml: 20px;
  --font-size-mid: 32px;
  --font-size-big: 40px;
  --font-size-xxl: 60px;
  --bar-background: #333333;
  --bar-fill: #080;
  --lose-color: #a007;
}
.menu-button {
  font-size: var(--font-size-mid);
  font-weight: bold;
  color: var(--text);
  padding: var(--spacing-md);
  background-color: var(--button-color);
  border: none;
  border-bottom: var(--spacing-xs) solid var(--button-highlight);
  border-radius: var(--spacing-sm);
  cursor: pointer;
  user-select: none;
}
button:hover { filter: brightness(125%); }
button:active { border: none; }
.sprite { display: none; }
.back-button {
  position: absolute;
  top: var(--spacing-bg);
  left: var(--spacing-bg);
  background-color: var(--modal-color);
  padding: var(--spacing-sm) var(--spacing-bg);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, var(--background1), var(--background2));
  color: var(--text);
}
.root-in-game { background: var(--background-game) !important; }

#main-title {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xxl);
}
#main-title-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-buttons-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-title-button {
  width: 50%;
  padding: var(--spacing-md);
  font-size: var(--font-size-mid);
  cursor: pointer;
}

#name-selection {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-size: var(--font-size-big);
}
.name-selection-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-bg) var(--spacing-xb);
  background-color: var(--modal-color);
  border-radius: var(--spacing-sm);
}
.name-selection-title {
  padding: var(--spacing-md);
  font-weight: bold;
}
.name-selection-input {
  margin: var(--spacing-bg);
  padding: var(--spacing-sm);
  font-size: var(--font-size-sml);
}
.name-selection-button {
  margin: var(--spacing-bg)
}

#dialog {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-color);
}
#dialog-box {
  display: flex;
  flex-direction: column;
  height: var(--dialog-bubble-height);
  padding: var(--spacing-md) calc(var(--spacing-xb) * 3);
  font-size: var(--font-size-big);
  transition: 1s opacity;
}
.dialog-box-text, .dialogue-box-label {
  flex: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dialog-box-label {
  flex: 1;
  opacity: 0.5;
  text-align: center;
  font-size: var(--font-size-sml);
}

#level-selector {
  width: 100%;
  height: 60%;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.level-selector-title {
  font-size: var(--font-size-big);
  text-align: center;
}
#level-selector-box {
  display: grid;
  grid-template: repeat(2, auto) / repeat(5, auto);
  background-color: var(--modal-color);
  border-radius: var(--spacing-sm);
}
.level {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: var(--spacing-bg);
  padding: var(--spacing-bg);
  background-color: var(--button-color);
  border: none;
  border-bottom: var(--spacing-xs) solid var(--button-highlight);
  border-radius: var(--spacing-sm);
  color: var(--font);
  font-size: 32px;
  cursor: pointer;
  user-select: none;
}
.level-locked {
  cursor: normal !important;
  filter: brightness(75%);
}
.level-locked-icon {
  width: var(--spacing-bg);
  height: var(--spacing-bg);
}
.level-tooltip {
  display: none;
  justify-content: center;
  align-items: center;
  width: 150%;
  position: absolute;
  top: -50%;
  background-color: var(--tooltip-color);
  border-radius: var(--spacing-sm);
  font-size: var(--font-size-sml);
  font-weight: bold;
  text-align: center;
  padding: var(--spacing-sm);
}
.level:hover .level-tooltip {
  display: flex;
}

#game {
  display: none;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--background-game);
}
#effects-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}
#info-pop-up {
  position: absolute;
  top: var(--spacing-xb);
  width: calc(100vw - var(--spacing-xb) * 4);
  padding: var(--spacing-bg);
  font-size: var(--font-size-big);
  background-color: var(--modal-color);
  border-radius: var(--spacing-sm);
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.timer, #label { font-size: var(--font-size-big); }
.data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
.health-bar {
  width: 50%;
  height: var(--spacing-bg);
  padding: var(--spacing-xs);
  background-color: var(--bar-background);
}
.health-bar-fill {
  height: 100%;
  width: 100%;
  background-color: var(--bar-fill);
  transition: .25s width;
}
#canvas {
  max-width: 90vw;
  max-height: 90vh;
  transition: 1s filter;
}

#game-modal {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}
#game-modal-box {
  background-color: var(--modal-color);
  border-radius: var(--spacing-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: calc(100vw - var(--spacing-xb) * 8);
  height: calc(100vh - var(--spacing-xb) * 8);
}
.game-modal-title {
  font-size: var(--font-size-xxl);
  text-align: center;
  font-weight: bold;
}
.game-modal-buttons-box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; } 
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes appearPopup {
  from { transform: translateY(-200%) }
  to { transform: translateY(0); }
}
@keyframes disappearPopup {
  from { transform: translateY(0) }
  to { transform: translateY(-200%); }
}
@keyframes pulseFail {
  from { background-color: var(--lose-color); }
  to { background-color: transparent; }
}
@keyframes appearModal {
  from { transform: scale(0); }
  to { transform: scale(100%); }
}