* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background1: #111;
  --background2: #333;
  --text: #ccc;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-bg: 2rem;
  --spacing-xb: 4rem;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, var(--background1), var(--background2));
  color: var(--text);
}
#main-title {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 60px;
}
#main-title-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-buttons-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-title-button {
  width: 50%;
  padding: var(--spacing-md);
  font-size: 20px;
  cursor: pointer;
}

#game {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.timer {
  font-size: 40px;
}
#canvas {
  max-width: 90vw;
  max-height: 90vh;
  border: 2px solid red;
}